<div class="container m-5">
    <div class="row p-5">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <h2>Example: {{ title }}</h2>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of collection | paginate:{itemsPerPage: 5, currentPage:p}">
                                <td>{{item.name}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.skills}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="pagination">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
